@use '../../../shared/variables.scss' as *;
@use '../../../shared/form-style.scss' as *;

.mqtt-step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
  padding: $layout-padding;
}

.go-back {
  padding-top: 2rem;
  padding-left: 2rem;
  position: absolute;
}

.back-arrow {
  font-size: 1.8rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: $secondary-color;
  }
}
