@use '../../../shared/variables.scss' as *;
@use '../../../shared/form-style.scss' as *;

.mqtt-step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
  padding: $layout-padding;
}