/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$background-color: #0f0f0f;
$text-color: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    scroll-behavior: smooth;
    color: $text-color;
}

body {
    height: 100%;
    background-color: $background-color;
}

#global-loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 3rem;
  }
}
