<p-menubar class="header">
  <ng-template pTemplate="start">
    <div class="logo" (click)="goHome()">
      <img src="/assets/images/logo2_white.png" alt="Logo" class="image" />
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="header-center-content" *ngIf="isInsideHouse && weather">
      <img
        [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'"
        [alt]="weather.weather[0].description"
        width="40"
        height="40"
        style="vertical-align: middle; margin-right: 8px;"
      />
      {{ weather.main.temp }}°C, {{ weather.weather[0].description }}
    </div>


    <span class="welcome-text">
      <ng-container *ngIf="isInsideHouse; else userGreeting">
        Welcome in {{ houseName || '...' }}!
      </ng-container>
      <ng-template #userGreeting>
        Welcome, {{ userLogin || '...' }}!
      </ng-template>
    </span>

    <div class="news-menu-wrapper" *ngIf="isInsideHouse">
      <p-avatar
        icon="pi pi-book"
        class="news-avatar"
        (click)="newsVisible = true"
        tooltip="News"
      ></p-avatar>
    </div>

    <div class="house-menu-wrapper" *ngIf="isInsideHouse">
      <p-tieredMenu
        [model]="houseMenuItems"
        popup
        #houseMenu
        appendTo="body"
      ></p-tieredMenu>

      <p-avatar
        icon="pi pi-home"
        class="house-avatar"
        (click)="houseMenu.toggle($event)"
      ></p-avatar>
    </div>

    <div class="notification-wrapper" *ngIf="checkIsUserSession()">
      <p-avatar icon="pi pi-bell" class="notification-avatar" (click)="toggleNotifications()"></p-avatar>
      <div class="notification-count" *ngIf="notifications.length > 0">{{ notifications.length }}</div>
    
      <div class="notification-list" *ngIf="showNotificationList">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
          <div class="notification-item" *ngFor="let invite of notifications">
            <div class="text">
              <ng-container *ngIf="invite.SenderLogin; else genericText">
                {{ invite.SenderLogin }} invited you to their house: <b>{{ invite.HouseName }}</b>
              </ng-container>
              <ng-template #genericText>
                You have been invited to house: <b>{{ invite.HouseName }}</b>
              </ng-template>
            </div>
            <div class="actions">
              <button (click)="acceptInvitation(invite.InvitationID)">Accept</button>
              <button (click)="rejectInvitation(invite.InvitationID)">Reject</button>
            </div>
          </div>
        </ng-container>
        <ng-template #noNotifications>
          <div class="notification-empty">
            No notifications yet!
          </div>
        </ng-template>
      </div>
    </div>

    <div class="user-menu-wrapper">
      <p-tieredMenu
        [model]="menuItems"
        popup
        #userMenu
        appendTo="body"
      ></p-tieredMenu>

      <p-avatar
        icon="pi pi-user"
        class="user-avatar"
        (click)="userMenu.toggle($event)"
      ></p-avatar>
    </div>
  </ng-template>
</p-menubar>

<div class="overlay" *ngIf="newsVisible" (click)="newsVisible = false">
  <div class="form-card" (click)="$event.stopPropagation()">
    <button class="close-button pi pi-times" (click)="newsVisible = false"></button>

    <div class="form-header">
      <p class="subtitle">News</p>
    </div>

    <div class="news-list">
      <div class="news-item" *ngFor="let article of news">
        <p class="news-title">{{ article.title }}</p>
        <p class="news-description" *ngIf="article.description">{{ article.description }}</p>
            
        <div class="go-to-article-container">
          <button
            pButton
            label="Go To Article"
            class="go-to-article-button"
            (click)="openInNewTab(article.url)">
          </button>
        </div>

      </div>


      <div *ngIf="news.length === 0" class="empty-news">
        No news available.
      </div>
    </div>
  </div>
</div>
