<p-menubar class="header">
  <ng-template pTemplate="start">
    <div class="logo" (click)="goHome()">
      <img src="/assets/images/logo2_white.png" alt="Logo" class="image" />
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <span class="welcome-text">
      <ng-container *ngIf="isInsideHouse; else userGreeting">
        Welcome in {{ houseName || '...' }}!
      </ng-container>
      <ng-template #userGreeting>
        Welcome, {{ userLogin || '...' }}!
      </ng-template>
    </span>

    <div class="house-menu-wrapper" *ngIf="isInsideHouse">
      <p-tieredMenu
        [model]="houseMenuItems"
        popup
        #houseMenu
        appendTo="body"
      ></p-tieredMenu>

      <p-avatar
        icon="pi pi-home"
        class="house-avatar"
        (click)="houseMenu.toggle($event)"
      ></p-avatar>
    </div>

    <div class="user-menu-wrapper">
      <p-tieredMenu
        [model]="menuItems"
        popup
        #userMenu
        appendTo="body"
      ></p-tieredMenu>

      <p-avatar
        icon="pi pi-user"
        class="user-avatar"
        (click)="userMenu.toggle($event)"
      ></p-avatar>
    </div>
  </ng-template>
</p-menubar>
