$background-color: #0f0f0f;
$primary-color: #18181b;
$secondary-color: #6f00ff;
$hover-secondary-color: #5a00d4;
$shadow-color: #be8dff66;
$text-color: #ffffff;
$text-color-darker: #ccc;
$label-text-color: #ddd;
$card-color: #2a2a2a;
$input-border-color: #444;